/* Estilos para el cuerpo de la página */
body {
    background-color: #dddddd; /* Color de fondo gris */
    margin: 0; /* Eliminar margen predeterminado del cuerpo */
    padding: 0; /* Eliminar el relleno predeterminado del cuerpo */
    height: 100%; /* Ajustar la altura del cuerpo al 100% del viewport */
}

.contenido {
    justify-content: center; /* Centra los elementos horizontalmente */
    position: relative;
    width: 100%;
    height: 100%;
}

.barra-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 10%; /* Ajustar la altura de la barra inferior al 20% del viewport */
}

.barra-superior h1{
    text-align: center;
}

.contenido-medio {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 80px; 
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20%; 
    height: calc(100% - 100px); 
}


.contenido-medio img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.contenido-medio p {
    max-width: 45%; 
}

@media screen and (max-width: 768px) { 
    .contenido-medio {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .contenido-medio img,
    .contenido-medio p {
        max-width: 90%; 
        height: auto; 
    }
}

.barra-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    height: 5%; 
}
 /* Estilo adicional para la imagen en la barra inferior */
.barra-inferior img {
    /*width: 100%;*/
    height: 20px;
    display: block;
    margin: auto;
    
}